$prim-bg: #ff7979;
$sec-bg: #5e66c2;
$prim-color: #f2f2f2;
$sec-color: black;
$box-shadow-dark: 0 0 15px rgba(0,0,0,0.3);
$box-shadow-bright: 0 0 15px rgba(255,255,255,0.6);
$text-shadow-dark: 1px 1px 5px rgba(0,0,0,0.3);
$text-shadow-bright: 1px 1px 5px rgba(255,255,255,0.7);
$line-height: 1.7;