@import "reset";
@import "variables";
@import "mixins";

@import "sliders";

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/montserrat/montserrat-v18-latin-regular.woff2") format("woff2"),
    url("../assets/fonts/montserrat/montserrat-v18-latin-regular.woff") format("woff")
}
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("../assets/fonts/montserrat/montserrat-v18-latin-200.woff") format("woff"),
    url("../assets/fonts/montserrat/montserrat-v18-latin-200.woff2") format("woff2")
}
@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("../assets/fonts/montserrat/montserrat-v18-latin-700.woff") format("woff"),
    url("../assets/fonts/montserrat/montserrat-v18-latin-700.woff2") format("woff2")
}

body {
    font-family: Montserrat, sans-serif;

    h1, h2, h3, h4, p, a, li, label, input, textarea, button, small {
        color: $prim-color;
        text-shadow: $text-shadow-dark;
    }

    h1, h2, h3, h4 {
        text-align: center;
        word-break: break-word;
    }

    h1 {font-size: 5rem};
    h2 {font-size: 3.5rem};
    h3 {font-size: 2.5rem};
    h4 {font-size: 2rem};

    p, a, li, label, input, textarea, button {font-size: 1.6rem};

    p {
        line-height: $line-height;
        word-spacing: 7px;
        padding: 15px 0;
        text-align: justify;
        align-self: stretch;
    }
}









// Main content
main {
    @include flexBox;
    flex-direction: column;
    
    > div {
        min-height: 100vh;
        width: 85%;
        max-width: 1400px;
        border-bottom: solid 3px rgba(255,255,255,0.2);
        @include flexBox;
        flex-direction: column;
        position: relative;
    }
    .about-flexbox,
    .skills-first-flexbox {
        @include flexBox;
        img {
            margin-left: 50px;
            @include basicImage;
        }
    }
    .services-flexbox {
        @include flexBox;
        img {
            margin-right: 50px;
            @include basicImage;
        }
    }
    .skills-second-flexbox {
        max-width: 100%;
        margin: 35px 0;
        @include flexBox;
        flex-wrap: wrap;
        > div {
            width: 350px;
            border-radius: 10px;
            box-shadow: $box-shadow-dark;
            margin: 15px;
            background: rgba(0,0,0,0.2);  
            padding: 15px;
            ul {
                list-style-type: '\2b50';
                margin-top: 10px;
                li {
                    font-size: 1.5rem;
                    padding: 5px 15px;
                    margin-left: 35px;
                }
            }
        }
    }
    .references {
        > div {
            width: 100%;
            margin-bottom: 35px;
            @include flexBox;
            justify-content: space-between;
            display: relative;
            > div {
                width: calc(30%);
                height: 250px;
                margin: 50px 0;
                border-radius: 5px;
                background: rgba(255,255,255,0.2);
                h4 {
                    margin: 10px 0;
                }
            }
            // make sliders big on click
            > .increase-me {
                position: fixed;
                z-index: 100;
                background: black;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95vw;
                height: 95vh;
                margin: 0;
                box-shadow: 0 0 1000px rgba(0,0,0,0.3);
                outline: solid 3px $prim-bg;
                overflow: hidden;
                .image-slider-container {
                    .image-slider {
                        .slide-active {
                            .lazyload-wrapper {
                                > img {
                                    object-fit: contain;
                                }
                            }
                        }
                    }
                }
            }
        }
        .socials {
            @include flexBox;
            a {
                margin: 40px 20px;
                img {
                    transition: transform 0.4s;
                    width: 75px;
                    height: 75px;
                }
                img:hover {
                    transform: scale(1.2) rotate(360deg);
                }
            }
        }
    }
    // contact form
    .contact {
        border-bottom: none;
        > form {
            width: 500px;
            max-width: calc( 85% - 70px);
            outline: solid 3px $prim-bg;
            border-radius: 10px;
            padding: 25px 35px;
            margin: 35px 0;
            box-shadow: $box-shadow-dark;
            background: rgba(0,0,0,0.3);
            @include flexBox;
            flex-direction: column;
            align-items: flex-start;
            > label {
                width: 100%;
                margin-bottom: 10px;
            }
            > input {
                width: 100%;
                background: none;
                border: none;
                outline: none;
                border-bottom: solid 3px $prim-color;
                padding-bottom: 5px;
                margin-bottom: 20px;
            }
            > textarea {
                border: none;
                outline: none;
                background: none;
                border: solid 3px $prim-color;
                padding: 5px;
                width: calc(100% - 10px);
                height: 175px;
                resize: none;
                margin-bottom: 20px;
            }
            > button {
                background: none;
                outline: none;
                border: none;
                border: solid 1px $prim-color;
                border-radius: 5px;
                padding: 5px 20px;
                box-shadow: $box-shadow-dark;
                transition: box-shadow .2s;
            }
            > button:hover {
                cursor: pointer;
                box-shadow: 0 3px 15px rgba(255,255,255,0.2);
            }
        }
    } 
    // Impressum and datenschutz
    .impressum {
        border: none;
        .impressum-navigation {
            position: sticky;
            top: 0;
            background: $prim-bg;
            width: 100%;
            @include flexBox;
            > a {
                font-weight: bold;
                padding: 10px 0;
                border-bottom: solid 2px transparent
            }
            > a:hover {
                border-bottom: solid 2px $prim-color;
            }
        }
        > h2 {
            margin: 35px 0
        };
        > h3 {
            margin: 25px 0 0
        };
    }
}




// Media Queries
@media screen and (max-width: 1500px) {
    :root {
        font-size: 90%;
    }
    header {
        .banner {  
            > h1 {
                font-size: 4rem;
            }
            > h1::before,
            > h1::after {
                margin: 0 10px;
            }
            > h4 {
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (max-width: 1050px) {
    .navigation-trigger {
        .nav-icon {
            width: 40px;
            height: 35px;
            span {
                height: 5.5px;
            }
            span:nth-child(1) {top: 0px;}
            span:nth-child(2) {top: 15px;}
            span:nth-child(3) {top: 30px;}
        }
        .open span:nth-child(1) {
            top: 18px;
        }
        .open span:nth-child(3) {
            top: 18px;
        }
    }
    header {
        .banner {  
            > h1::before,
            > h1::after {
                content: none;
            }
            > div {
                > h4 {
                    font-size: 1.5rem;
                }
            }
        }
    }
    main {
        .references {
            > div {
                flex-direction: column;
                justify-content: space-between;
                > div {
                    width: 100%;
                    height: 450px;
                }
                .increase-me {
                    width: 100vw;
                    height: 100vh;
                }
            }
            .socials {
                flex-direction: row;
                a {
                    margin: 10px 20px;
                    img {
                        width: 65px;
                        height: 65px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 800px) {
    :root {
        font-size: 85%;
    }
    header {
        > .banner {
            > div {
                flex-direction: column;
                > h4 {
                    font-size: 1.5rem;
                    margin: 10px 0;
                }
                > h4:nth-of-type(1)::after,
                > h4:nth-of-type(2)::after {
                    content: none;
                }
            }
        }
    }
    .navigation-trigger {
        .nav-icon {
            width: 40px;
            span {
                height: 5px;
            }
        }
    }
    h1, h2 {
        display: flex;
        flex-direction: column;
    }
    main {
        > div {
            min-height: 0;
        }
        h2 {
            margin-top: 25px;
        }
        .about-flexbox {
            flex-direction: column;
            p, img {
                margin: 0 0 35px;
            }
            img {
                width: 250px;
                height: 250px;
            }
        }
        .services-flexbox {
            flex-direction: column-reverse;
            p, img {
                margin: 0 0 35px;
            }
            img {
                display: none;
            }
        }
        .skills-first-flexbox {
            flex-direction: column;
            p, img {
                margin: 0;
            }
            img {
                display: none;
            }
        }
        .contact {
            >form {
                max-width: 85%;
            }
        }
        .impressum {
            > h2 {
                margin: 0;
                font-size: 3rem;
            }
        }
    }
    footer {
        .content {
            .links {
                @include flexBox;
                flex-direction: column;
                > a {
                    margin: 10px 0;
                    border-bottom: solid 2px transparent;
                }
                > a:hover {
                    border-bottom: solid 2px $prim-color;
                }
            }
        }
        .bottom-text {
            width: 100%;
            p, a {
                font-size: 1rem;
                margin: auto;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    :root {
        font-size: 70%;
    }
    body p {
        line-height: 1.5;
        word-spacing: 3px;
    }
    nav {
        > div {
            > a {
                font-size: 2rem;
            }
        }
    }
    .navigation-trigger {
        margin: 15px;
        .nav-icon {
            width: 35px;
            margin: 5px;
            span {
                height: 4px;
            }
        }
    }
    main {
        > div {
            width: 95%;
        }
        .about-flexbox {
            p, img {
                margin: 0 0 10px;
            }
            img {
                width: 200px;
                height: 200px;
            }
        }
        .skills-second-flexbox {
            margin: 0;
        }
        .references {
            > div {
                > div {
                    margin: 0 0 50px;
                }
            }
            .socials {
                a {
                    margin: 10px;
                    img {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
        .contact {
            > form {
                max-width: calc( 85% - 30px);
                padding: 25px 15px;
            }
        } 
    }
    footer {
        .content {
            h1 {
                font-size: 3rem;
            }
        }
    }
}